/****** Main Styling ******/
body,html{
	padding:0;
	margin:0;
}
head{
	margin:auto;
}

title{
	text-align:center
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #FaFaFa;
	text-align: center;
	line-height: 1.4em;
}

.container {
	padding: 10px;
	margin:auto;
	margin-top: 40px;
	display:grid;
}

h3 {
	margin-top: 30px;
}

.footer {
	margin-top: 40px;
}

.user-stories {
	margin:auto;
	position: relative;
	text-align: justify;
	max-width: 700px;
	padding:10px;

}
code {
	font-family: monospace;
	color: black;
	background-color: #fff;
}

a {
	color: #2574A9;
}
